<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Varnish Workbench">
    <meta name="author" content="Nine Internet Solutions AG - nine.ch">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <%= csrf_meta_tags %>

    <title>Varnish Workbench</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application"%>
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Varnish Workbench</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li <%= current_page?(controller: 'workbench', action: 'index') ? 'class=active' : '' %>><%= link_to "Home", root_path %></li>
              <li <%= current_page?(controller: 'workbench', action: 'workbench') ? 'class=active' : '' %>><%= link_to "Workbench", workbench_path %></li>
              <li <%= current_page?(controller: 'workbench', action: 'vcl') ? 'class=active' : '' %>><%= link_to "VCL", vcl_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li <%= current_page?(controller: 'workbench', action: 'about') ? 'class=active' : '' %>><%= link_to "About", about_path %></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
        <%= yield %>
    </div>

    <div class="container">
      <footer>
        <p>&copy; <a href="http://www.nine.ch/">nine.ch</a> 2014</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>


